<a href="https://colab.research.google.com/github/AbsolutelySaurabh/Machine-Learning/blob/master/ai-coursework/Day-2%20-%20Linear%20regression/Pandas_Opencv_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install -q kaggle

In [0]:
#process to get data from kaggle

!mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
# ! kaggle datasets list
!kaggle datasets download -d 'jemishdonda/headbrain'

! mkdir train
! unzip headbrain.zip -d train

mkdir: cannot create directory ‘/root/.kaggle’: File exists
headbrain.zip: Skipping, found more recently modified local copy (use --force to force download)
mkdir: cannot create directory ‘train’: File exists
Archive:  headbrain.zip
  inflating: train/headbrain.csv

In [0]:
import pandas as pd
import cv2
import matplotlib.pyplot as plt
%matplotlib inline

data = pd.read_csv('train/headbrain.csv')
data.head()

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [0]:
data.info()

In [0]:
#Question 1: Extract any column using '.' operator as a series
data.iloc[:, 0:2]

     Gender  Age Range
0         1          1
1         1          1
2         1          1
3         1          1
4         1          1
..      ...        ...
232       2          2
233       2          2
234       2          2
235       2          2
236       2          2

[237 rows x 2 columns]